---
import SocialBar from "../social-bar/SocialBar.astro"
---


<footer id={"footer"}>
    <p>This website created using <a href="https://www.astro.build">Astro</a> and <a href="https://netlify.com">Netlify</a></p>
    <SocialBar color='white'/> 
</footer>

